.result{
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(100% );
    max-height: calc(100% );
    // background-color: aqua;
    .main,.option{
        background-color: var(--border-color);
        border-radius: 10px;
        align-items: center;
        justify-content: center;
    }
    .main,.options{
        width: 50%;
        min-height: 400px;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        .option{
            width: calc(50% - .5rem);
            height: calc(50% - .5rem);
        }
    }
    .main{
        margin-right: .5rem;
    }
    .option{
        cursor: pointer;
    }
}