.hilghlighter{
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
    line-height: 1.5;
    font-size: medium;
    margin-bottom: 2rem;
    // code{
    //     padding: 1rem 0 !important;
    // }
}