
.wrapper{
    width: min-content;
    svg{
        width: 20px;
        height: 15px;
        color: #6e6e80;
    }
}
.btn{
    display: flex;
    align-items: center;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
   
}
.btns{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2rem;
}

.advanced{
    font-size: 1rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #000;
}

.formContent{
    padding: 1rem 0;
    display: flex;
    flex-direction : column;
    margin : 1rem auto;
    max-width : 350px;
    h1{
        text-align: center;
        color: #2d333a;
        margin-bottom: 0px;
    }
}

.generatedToken{
    padding: .5rem ;
    display: flex;
    flex-direction : column;
    margin : 1rem auto;
    width: 100%;
    svg{
        width: 40px;
        position: absolute;
        right: .5rem;
        top: .5rem;
        cursor: pointer;
    }
    h3{
        text-align: center;
        color: #2d333a;
        margin-bottom: 0px;
    }
    p{
        color: var(--grey);
        margin-top: .5rem;
    }
    .alert{
        color: #000;
        font-size: .8rem;
        font-style: italic;
        
    }
    .inputFound{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid var(--border-color);
        margin-top: 1rem;
        border-radius: 5px;
        input{
            margin: 0;
            border: none;
            width: 100%;
        }
        button{
            border: 1px solid var(--border-color);
            margin-right: 2px;
            padding: 2px;
            border-radius: 2px;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        svg{
            position: initial;
            height: 25px;
            width: 25px;
            background-color: #ececf1;
            cursor: pointer;
            padding-right: .2rem;
        }
    }
}